@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

nav a {
    cursor: pointer;
    text-decoration: none;
}

.home-link {
    cursor: pointer;
    transition: background 0.3s;
}

.home-link:hover {
    background: rgba(0, 0, 0, 0.5);
}

.home-link a {
    text-decoration: none;
}