@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: #060607;
    }

    /* NAVBAR */
    nav {
        background: rgba(0, 0, 0, 0.2);
    }

    nav ul li a {
        color: #767e8b;
    }

    nav ul li a:hover {
        background: rgba(0, 0, 0, 0.3);
        color: #060607;
    }

    /* HOME-PAGE */
    .car-link {
        color: #060607;
    }

    .car:hover {
        background: rgba(0, 0, 0, 0.3);
        color: #767e8b;
    }    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #363840;
        color: #fff;
    }

    /* NAVBAR */
    nav {
        background: rgba(0, 0, 0, 0.2);
    }

    nav ul li a {
        color: #8e9198;
    }

    nav ul li a:hover {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
    }

    /* HOME-PAGE */
    .car-link {
        color: #fff;
    }

    .car:hover {
        background: rgba(0, 0, 0, 0.3);
        color: #8e9198;
    }

    /* CAR-PAGE */
    .car-page-link {
        color: rgba(255, 255, 255, 0.6);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.3;
}

/* NAVBAR */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 105%;
    transition: background 0.3s, color 0.3s;
}

/* HOME-PAGE */
main {
    width: 70%;
    margin: auto;
}

.car-link {
    text-decoration: none;
}

.car {
    padding: 10px;
    border-bottom: 1px solid #8e9198;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

/* CAR-PAGE */
.car-page-details {
    margin-bottom: 85px;
}

.car-page-link {
    margin-bottom: 30px;
}

.car-review {
    margin-bottom: 16px;
    border-bottom: 1px solid #8e9198;
}

/* REVIEW-PAGE */
.review-title {
    text-align: center;
}

.review-div {
    margin-bottom: 50px;
}